.sidebarChat{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #363636;


}


.sidebarChat__info{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 15px;
    position: relative;
    width: 100%;
    
}
.sidebarChat__info > small {
    position: absolute;
    top: 5px;
    right: 0;
}

.sidebarChat:hover{
    border-radius: 15px;
    background: rgb(91,246,117);
    background: linear-gradient(28deg, rgba(12,189,42,1) 0%, rgba(91,246,117,1) 100%); 
}
